
  <div class="card-content">
    <h2 class="question-title"><%= question.title %></h2>
  </div>
    <div class="user-icon">
      <img src="<%= question.user.google_image_url %>" alt="<%= question.user.name %>" class="w-10 rounded-full">
    </div>
    <span class="user-name"><%= question.user.name %></span>
</div>