<% if @questions.present? %>
<div class="h-full">
  <div class="container mx-auto p-4">
    <div class="questions-container">
      <%= form_with url: questions_path, method: :get, local: true do %>
        <div class= "selectbox mb-4">
          <%= select_tag :sort_by, options_for_select([
            ['新着順', 'latest'],
            ['古い順', 'oldest'],
            ['投票数が多い順', 'most_voted'],
            ['意見数が多い順', 'most_opinions']
          ], params[:sort_by]),
          class: "selectbox-select",
          onchange: 'this.form.submit();' %>
        </div>
      <% end %>
      <div class="mb-8">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-4 lg:gap-5 2xl:gap-6 justify-items-center">
          <%= render @questions %>
        </div>
      </div>
    </div>
  </div>
</div>
<% else %>
  <p><%= t('.no_questions') %></p>
<% end %>