<% if params[:edit] == 'true' %>
  <%= render "users/form", user: user %>
<% else %>
  <div class="text-center space-y-5">
    <div class="text-xl"><%= user.name %></div>
    <%= link_to t('.edit_name'), user_path(user, edit: true),
                data: { turbo_frame: "user_profile_frame" },
                class: "button" %>
  </div>
<% end %>
