<%= turbo_frame_tag "user_profile_frame" do %>
  <div class="text-center space-y-5">
    <div class="text-xl"><%= user.name %></div>
    <%= link_to t('.edit_name'), edit_user_path(user),
                data: { turbo_frame: "user_profile_frame" },
                class: "button" %>
  </div>
<% end %>

