<footer class="bg-cream w-full h-[120px] flex items-center justify-center">
  <div class="flex flex-col">
   <p>Copyright ©2025 - konotatakaiwo_owarasenikita</p>
     <div class="flex space-x-8 mt-4 justify-center">
       <%=link_to "https://github.com/tamagoyaki00/konotatakaiwo_owarasenikita" do %>
         <i class="fa-brands fa-github fa-2xl"></i>
       <% end %>
       <%=link_to "https://x.com/tamago_it_00" do %>
         <i class="fa-brands fa-square-x-twitter fa-2xl"></i>
       <% end %>
     </div>
  </div>
</footer>